template(name='main')
  .main
    .container
      h1 晨晨宝贝的晚安鸡
      button Click
      hr
      each chicken
        .chicken
          .well
            p.small.text-muted.text-right #{sent_at}
            p #{message}
